*{
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000C14), color-stop(0.17, #000C33), color-stop(0.33, #00293E), color-stop(0.5, #003C50), color-stop(0.66, #005665));
  background-image: -o-linear-gradient(bottom, #000C14 0%, #000C33 17%, #00293E 33%, #003C50 50%, #005665 66%);
  background-image: -moz-linear-gradient(bottom, #000C14 0%, #000C33 17%, #00293E 33%, #003C50 50%, #005665 66%);
  background-image: -webkit-linear-gradient(bottom, #000C14 0%, #000C33 17%, #00293E 33%, #003C50 50%, #005665 66%);
  background-image: -ms-linear-gradient(bottom, #000C14 0%, #000C33 17%, #00293E 33%, #003C50 50%, #005665 66%);
  background-image: linear-gradient(to bottom, #000C14 0%, #000C33 17%, #00293E 33%, #003C50 50%, #005665 66%);
}

.parallax {
  perspective: 80px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: visible;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .parallax__layer img {
    display: block;
    position: absolute;
    bottom: 0;
}
  .parallax__cover {
    position: absolute;
    top: 140%;
    left: 0;
    right: 0;
    height: 100%;
    z-index: -1;
  }
  .cloud__layer {
    height: 100%;
    min-height: 500px;
    background-repeat: repeat-x;
    width: 4000px;
    background-position-y: bottom;
  }
  .waves__layer {
    height: 100%;
    min-height: 550px;
    width: 100%;
    background-position-y: bottom;
    background-size: cover;
  }
  .spaceship__layer {
  height: 100%;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  margin-left: -200px;
}

#spaceship {
  background-image: url("../svg/spaceship.svg");
  background-size: 50%;
  background-position-x: left;
}

.waves {
  top: 2700px!important;}

#waves__layer__0 {
  background-image: url("../svg/waves0.svg");
}
#waves__layer__1 {
  background-image: url("../svg/waves1.svg");
}
#waves__layer__2 {
  background-image: url("../svg/waves2.svg");
}
#waves__layer__3 {
  background-image: url("../svg/waves3.svg");
}
#waves__layer__4 {
  background-image: url("../svg/waves4.svg");
}
#waves__cover {
  background-color: #007AAA;
  width: 110%;
  height: 1000px;
}


#stars__container {
  height: 100%;
  background-image: url("../svg/stars.svg");
}

#cloud__layer__0 {
  background-image: url("../svg/layer0.svg");
}
#cloud__layer__1 {
  background-image: url("../svg/layer1.svg");
}
#cloud__layer__2 {
  background-image: url("../svg/layer2.svg");
}
#cloud__layer__3 {
  background-image: url("../svg/layer3.svg");
}
#cloud__layer__4 {
  background-image: url("../svg/layer4.svg");
}
#cloud__layer__5 {
  background-image: url("../svg/layer5.svg");
}
#cloud__layer__0b {
  background-image: url("../svg/layer0.svg");
}

.parallax__layer__0 {
  transform: translateZ(-360px) scale(6); }

.parallax__layer__1 {
  transform: translateZ(-240px) translateY(900px) scale(3); }

.parallax__layer__2 {
  transform: translateZ(-220px) translateY(980px) scale(3.7); }

.parallax__layer__3 {
  transform: translateZ(-200px) translateY(920px) scale(3.3);
}

.parallax__layer__4 {
  transform: translateZ(-180px) translateY(760px) scale(3.8); 
  z-index:4;}

.parallax__layer__5 {
  transform: translateZ(-140px) translateY(800px) scale(3.5); 
  z-index:5;}

.parallax__layer__6 {
  transform: translateZ(-100px) translateY(830px) scale(3); 
  z-index:6}
 .parallax__layer__7 {
   transform: translateX(200px) translateY(950px) translateZ(-80px) scale(2.5); 
   z-index:7}
   
   
   
 .parallax__layer__spaceship {
     transform: translateY(1950px) translateZ(-20px) scale(1.2);}
   
   
 .parallax__layer__8 {
   transform: translateZ(-80px) scale(2.6); }
 
 .parallax__layer__9 {
   transform: translateZ(-60px) scale(2.2); }
 
 .parallax__layer__10 {
   transform: translateZ(-40px) scale(1.8);
 }
 
 .parallax__layer__11 {
   transform: translateZ(-20px) scale(1.4);}
 
 .parallax__layer__12 {
   transform: translateZ(0px) scale(1); }
 
 .parallax__layer__13 {
   transform: translateZ(0px) translateY(295px) scale(1); }

#logo {
  width: 100%;
  height: 300px;
  z-index: -10000;
  background-image: url("../svg/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  font: 3em 'Lato', sans-serif;
  letter-spacing: 4px;
  color: white;
  line-height:300px;
  padding-left: 40px;
  margin-top: 40px;
}



#logo.scrolled span {
  display: none;
  
}

#logo {
    opacity: 1;
    -webkit-transition: opacity .4s ease-in;
       -moz-transition: opacity .4s ease-in;
         -o-transition: opacity .4s ease-in;
            transition: opacity .4s ease-in;
}
#logo.scrolled {
    opacity: 0.3;
    -webkit-transition: opacity .4s ease-out;
       -moz-transition: opacity .4s ease-out;
         -o-transition: opacity .4s ease-out;
            transition: opacity .4s ease-out;
}​    

#login {
  width: 25%;
}